	<!DOCTYPE html>
	<html xmlns:th="http://www.thymeleaf.org">
	<head>
	<meta charset="ISO-8859-1"/>
	
	<title >Add new article</title>
	   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous"/>
	   
        <link rel="stylesheet" href="css-file/css_footer.css">
        <link rel="stylesheet" href="css-file/style.css"></link>
       <style type="text/css">
       	*{
 		   font-family:'Khmer OS Battambang', 'Roboto';
 ​​       }
       
       </style>   
	</head>
	<body>
			<div th:replace="fragments/header"></div>
		<br>
		<form th:action="${formAdd}?'/add':'/update'" method="POST" enctype="multipart/form-data" style="width: 50%; margin-left: 20%;">
            <h1  class="text-center" th:text="${formAdd}?#{newArticle}:#{upDate}"></h1>
              <div class="form-group row ">
                    <label for="text" class="col-sm-2 col-form-label" id="title">ID</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control " type="text" th:field="${article.id}" placeholder="ID"/>
                    </div>
                </div> 
               <div class="form-group row ">
                    <label for="text" class="col-sm-2 col-form-label" id="fName">Title</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control " type="text" th:field="${article.title}" placeholder="Article title"/>
                    </div>
                </div>               
                 <div class="form-group row ">
                    <label for="text" class="col-sm-2 col-form-label" id="category">Category</label>
                    <div class="col-sm-10">
                    	<select th:field="${article.category.id}" name="" id="hello" class="form-control ">
                    	    <option th:each="category:${categories}" th:value="${category.id}" th:text="${category.name}" class="form-control"></option>  
                     	</select>
                    </div>
                </div>
                 <div class="form-group row ">
                    <label for="text" class="col-sm-2 col-form-label" id="description">Description</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control " th:field="${article.description}"  placeholder="Description"/>
                    </div>
                </div>
                  <div class="form-group row ">
                    <label for="text" class="col-sm-2 col-form-label" id="author">Author</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control " type="text" th:field="${article.author}" placeholder="Author"/>
                    </div>
                </div>
                <div class="btnSend">
			            <input type="hidden" th:field="${article.thumbnail}"/>
						<input type="file" class="btn btn-info" name="image"   style=" margin-left: 17%;"multiple="multiple"/>
						<input type="submit" class="btn btn-info" th:value="${formAdd}?'Save':'Update'" style="margin-left: 10%"/>
            			<a href="/article" class="btn btn-info" style=" float:right;">Back</a>	
             	</div>
      </form>
    	 <!-- footer -->
    	 <br>
    	 <br>
	  	<div th:replace="fragments/footer"></div>
	</body>
</html>
