<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1"/>
<title>Article management System</title>
   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
     
        <link rel="stylesheet" href="css-file/css_footer.css"/>
		<link rel="stylesheet" href="css-file/style.css"/>
</head>
<body>
	
	<div th:replace="fragments/header" ></div>
	
	
<div class="container">
        <div class="contents">
        <br><br>
                <h1 th:text="#{ams}" class="text-center">Article Management System</h1>  
                <a href="/add"  class="btn btn-info">Add New</a>
                <br><br>
                <table class="table table-hover">
                  <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Name</th>
                        <th scope="col">Category</th>
                        <th scope="col">Description</th>
                        <th scope="col">Author</th>
                        <th scope="col">Thumbnail</th>
                        <th scope="col">Created Date</th>
                        <th scope="col">Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="article : ${articles}" th:object="${article}">
                        <td th:text="*{id}"  scope="row">ID</td>
                        <td th:text="*{title}" >Name</td>
                        <td th:text="*{category.name}">Category</td>
                        <td th:text="*{description}">Description</td>
                        <td th:text="*{author}"> Author</td>    
                        <td ><img th:src="*{thumbnail}" width='100px' height='100px'></td>   
                        <td th:text="*{createdDate}" >Created Date</td>                        
                        <th>
                           <a th:href="@{/view/{id}(id=*{id})}" class="btn btn-info">View</a>
                           <a th:href="@{/delete/{id}(id=*{id})}" class="btn btn-info">Delete</a>
                           <a th:href="@{/update/{id}(id=*{id})}" class="btn btn-info">Update</a>
                        </th>
                    </tr>
                    </tbody>
                </table>
        </div>
        <br>
    </div>
	<!-- footer -->
  	<div th:replace="fragments/footer"></div>
</body>
</html>