<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1"/>
<title >View article</title>

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous"/>
	 <link rel="stylesheet" href="css-file/css_footer.css">
	<style type="text/css">
       	*{
 		   font-family:'Khmer OS Battambang', 'Roboto';
 ​​       }
 	</style>
</head>
<body>
	<!-- Header -->
	<div th:replace="fragments/header"></div>
	
	<div th:Object="${article}">
	
	  <div class="card border-info mb-3" style="max-width: 15rem; margin-left:10%; margin-top:3%;">
	   <div class="card-header">Detail Item</div>
	     <div class="card-body text-info">
	        <img th:src="*{thumbnail}" width='100%' height='100%'> 
	        <div  style="margin-left: 3%;">
	        	<p class="card-text" th:text="*{id}"></p>
		        <p class="card-text" th:text="*{title}"></p>
		        <p class="card-text"  th:text="*{category.name}"></p>
		        <p class="card-text" th:text="*{author}"></p>
		        <p  class="card-text" th:text="*{description}"></p>
	        </div>
   		 </div>
   		 <a href="/article"  class="btn btn-info">Back</a>
	   </div> 
	</div>
	 <!-- footer -->
    	 <br>
    	 <br>
	  	<div th:replace="fragments/footer"></div>
</body>
</html>